div.body{
	text-align: center;
	border-style: solid;
	border-color: black;
	margin-top: 20px;
	background: yellow;
	color:red;

}
header{
	font-style: italic;
	text-align: center;
	border-style: dashed;
	background: skyblue;
}
footer{
	font-style: italic;
	margin-top: 20px;
	border-style: dashed;
	background: skyblue;
}
